(
    texture_width: 111,
    texture_height: 51,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 36,
            height: 51,
        ),
        (
            x: 36,
            y: 0,
            width: 39,
            height: 51,
        ),
        (
            x: 75,
            y: 0,
            width: 36,
            height: 51,
        ),
    ],
)
